.text-size12px{
    font-size: 0.1rem;
  }
  .text-size14px{
    font-size: 0.1rem;
  }
  .text-size16px{
    font-size: 0.1rem;
  }
  .float-right {
    float: right;
  }
  .item-color {
    color: #848487;
  }